h1  {
    text-align: center;
    font-size: 50px;
    color: rebeccapurple;
}

p   {
    text-align: center;
    font-size: 25px;
}

lista   {
    width: 50%;
}

a:hover{
    color: hotpink;
}

loppu   {
    font-size: 15px;
}